<div class="bodyArticleContent" fxLayoutAlign="center">
  <div class="bodyContent" fxLayout="column" fxFlex.gt-md="70" fxFlex.lt-lg="95" *ngIf="articleContent">
    <div fxLayout="column">
      <h2 class="titre">{{articleContent.titre}}</h2>
      <div fxLayout="row" fxLayout.lt-md="column" class="sousTitre" fxLayoutAlign.gt-sm="none center">
        <div fxLayout="row" ngClass.lt-md="marginSousTitreXs" ngClass.gt-sm="marginSousTitre"
          fxLayoutAlign="none center">
          <p class="contentSousTitre">{{articleContent.datePublication | date:"d MMMM yyyy"}}</p> |
          <p class="contentSousTitre"> par {{articleContent.auteur}}</p> |
        </div>
        <div fxLayout="row" ngClass.lt-md="marginSousTitreXs" ngClass.gt-sm="marginSousTitre"
          fxLayoutAlign="none center">
          <p class="contentSousTitre"><span class="tempsLecture" fxLayoutAlign="none center">
              <mat-icon>access_time</mat-icon> 10min
            </span></p> |
          <a class="lienCommentaire" href=""> Laisser un commentaire</a>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="none center" class="imageArticle">
        <img src="{{articleContent.imgUrl}}" alt="Image de l'article">
        <p [class]="descriptionImage" [innerHTML]="articleContent.description | trustHtml"></p>
      </div>
      <div [innerHTML]="articleContent.contenu | trustHtml" class="contentArticle"></div>
      <mat-divider></mat-divider>
      <div *ngFor="let tag of articleContent.tags">
        {{tag.label}}
      </div>
    </div>
  </div>

</div>
